

body{
        margin: 0;
        background:#FFFAFF;
        color: #1D2D44;
        font-family: "Oswald";
        text-align: center;
    }

header {
    color: #EAEAEA;
    background: #0D1321;
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-family: "Oswald";
    font-weight: 700;
    padding: 0;
    margin:0;
    overflow:hidden;

}

nav{
    background-color: #0D1321;
    font-size: 30px;

}
nav.flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    nav ul {
        display: flex;
        align-items: center;
        list-style: none;
    }

    nav li {
    color:#EAEAEA;
    flex-grow: 1;
    }

    nav a {
    color:#EAEAEA;
    text-decoration: none;
    }

.resumeEntry {
    color: #1D2D44;
    text-align: center;
}